/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
body {
    font-family:  'Rubik Mono One', sans-serif;  
}

h2 {
    font-size: 40px;
    color: yellow;
}

/* container */
.container {
    position: relative;
    height: 100vh;
    width: 100%;
}


/* Header */
header {
    height: 100px;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 5px;
    right: 10px;
}
nav {
    height: 80px;
    line-height: 80px;
} 
.page-selector {
    text-align: right;
    
}
.page-selector li {
    display: inline-block;
    list-style: none;   
}
.page-selector a {
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    background-color: white;
}

/* backgrounds & green text */
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
.green {
    color: green;
}
/* img & text container */
figure {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* hover */
li:hover a {
    color: yellow;
    background-color: lightcoral;
    transition: all 0.5s ease-in;
}    
